{% extends "base.html" %}

{% block head %}
<link href="/static/css/fullcalendar.min.css" rel='stylesheet'>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="/static/js/events.js"></script>
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-8">
<div class="col-md-3">
      <select class="select form-control" id="rooms" name="roomcalselect" required>
      {% for room in rooms %}
      <option value="{{room.id}}">{{room.roomname}}</option>
      {% endfor %}
      </select>
</div>
<div id='calendar'></div>
</div>
<div class="col-md-4">
<label class="control-label ">
      <h4> Office : {{ user.name }}</h4>
      </label><br><br>
      <label class="control-label ">
       <h4>Department : {{ user.deptname }}</h4>
      </label><br><br>


<h3>Create Event</h3>  
<!-- event form -->
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div>
    <form method="post">
     <div class="form-group ">

      <label class="control-label requiredField" for="name">
       Event Name
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name" name="eventname" placeholder="event name" type="text" required />
     </div>
     <div class="form-group ">
      <label class="control-label " for="date">
       Start Date
      </label>
      <input class="form-control" id="date" name="stdate" placeholder="MM/DD/YYYY" type="datetime-local" required />
     </div>
     <div class="form-group ">
      <label class="control-label " for="date1">
       End Date
      </label>
      <input class="form-control" id="date1" name="enddate" placeholder="MM/DD/YYYY" type="datetime-local" required/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="select">
       Select a Room
      </label>
      <select class="select form-control" id="select" name="roomselect" required>
      {% for room in rooms %}
      <option value="{{room.id}}">{{room.roomname}}</option>
      {% endfor %}
      </select>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " id="submit" name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
    {% if msg %}
      <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert"/>&times;</button>
      <strong>Event created successfully</strong> 
      </div>
    {% endif %}

   </div>
  </div>
 </div>
</div>

<!-- end form -->

</div>
{% endblock %} 

{% block static  %}


{% endblock %}