{% extends "base.html" %}

{% block content %}

<div class="col-md-4">
<form class="form-horizontal" method='POST' action="/login" enctype="application/x-www-form-urlencoded">
<fieldset>

<!-- Form Name -->
<!-- Text input-->
<div class="form-group"> 
  <input id="txtname" name="email" type="email" placeholder="you@email.com" class="form-control input-md" required>
</div>

<!-- Text input-->
<div class="form-group"> 
  <input id="txtlastname" name="password" type="password" placeholder="password" class="form-control input-md" required>
</div>

<!-- Button -->
<div class="form-group">
    <button id="add" name="submit" class="btn btn-lg btn-primary">Login</button><br><br>
    <p id=ms><b>{{ msg }}</b></p>
</div>


</fieldset>
</form>
{% if error %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong></strong> wrong email or password!
</div>
{% endif %}
</div>


{% endblock %} 