{% extends "base.html" %}


{% block head %}

<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
<script type="text/javascript" src="/static/js/getdept.js"></script>

{% endblock %}
{% block content %}

<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post" id="form1">
    <h4>Create Room</h4>
     <div class="form-group ">
      <label class="control-label requiredField" for="">
       Room name
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control"  name="name" type="text"/>
     </div>
     
     <div class="form-group ">
      <label class="control-label requiredField" for="tel">
       Incharge Id 
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" name="inchid" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="select">
       Select a Office
       <span class="asteriskField">
        *
       </span>
      </label>
      <select class="select form-control" id="office" name="select">
        {% for off in off %}
       <option value="{{ off.id }}">{{ off.name }}</option>
       {% endfor %}
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField">
       Check departments which share the room
       <span class="asteriskField">
        *
       </span>
      </label>
      
      <div id="append" name="append">
      </div>




     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " id="submit" name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>

   <div class="col-md-6 col-sm-6 col-xs-12">
   <h4>Incharge list in office</h4>
    <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Incharge name</th>
      <th>Mob no</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="inchlist">  
  </tbody>
</table>
   </div>

<div class="col-md-4">

<center>
<a href="/incharge" class="btn btn-primary">Create Incharge</a>
</center>

</div>



{% endblock %}